{% extends "baseadmin.html.twig" %}

{% block title %}Ajout d'une nouvelle formation{% endblock %}
{% block body %}
    <h2>Nouvelle formation :</h2>
    {{ include('_admin.formation.form.html.twig') }}
{% endblock %}